<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaceta Dental. Odontobebés</title>
</head>
<body>
    <div class="wrapper header">

    </div>
    <div class="wrapper">
        <div class="form">
            <ul>
                <li>
                    <label for="new_title" class="text_label">Título:</label>
                    <input type="text" id="new_title" class="text_input">
                </li>
                <li>
                    <label for="new_image" class="text_label">Imagen:</label>
                    <input type="text" id="new_image" class="text_input">
                </li>
                <li>
                    <label for="new_content" class="text_label">Cuerpo:</label>
                    <input type="text" id="new_content" class="text_input">
                </li>
                <li>
                    <label for="new_date" class="text_label">Fecha:</label>
                    <input type="text" id="new_date" class="text_input">
                </li>
            </ul>
        </div>
    </div>
    <div class="wrapper footer">

    </div>
</body>
</html>